* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.body__layout {
  width: 360px;
  min-width: 360px;
  margin: 0 auto;
}
.main__jumbotron {
  display: flex;
  align-items: flex-end;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  align-items: stretch;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.jumbotron__header {
  background-color: #ffffff;
  opacity: 0.8;
  margin-top: -40px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.jumbotron__description {
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.jumbotron__image {
  width: 100%;
  max-width: 896px;
}
.jumbotron__autors {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  line-height: 30px;
}
.jumbotron__autors span:before {
  content: "*";
}
.jumbotron__autors a {
  text-decoration: none;
}
.jumbotron__nav {
  display: none;
  height: 40px;
  margin-bottom: 10px;
}
.jumbotron__nav li {
  background-color: #dffffa;
  display: flex;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}
.jumbotron__nav li:active {
  background: #D9EFEC;
}
.jumbotron__nav li:not(:last-child) {
  border-right: 1px solid #D9EFEC;
}
.jumbotron__nav a {
  color: #34AC98;
  text-decoration: none;
}
.jumbotron__link {
  display: none;
  font-size: 14px;
}
.jumbotron__link_lg {
  font-size: 18px;
  margin-bottom: 5px;
}
.subscribe {
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  background: url(../icon/icon-mailinglist-32.png) no-repeat 18px 13px;
}
.subscribe__description {
  font-size: 14px;
  padding: 15px 15px 0 65px;
}
.subscribe__form {
  margin: 12px 20px;
  display: flex;
}
.form__input {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 5px;
}
.form__btn {
  margin: 5px;
}
.content {
  margin: 20px auto;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
.article {
  padding: 10px;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-basis: auto;
  width: 280px;
}
.article__image {
  padding: 10px;
  border: 1px solid #E5E5E5;
}
.article__body h1 {
  margin: 10px 0 10px;
  color: #34AC98;
  line-height: 1.3em;
}
.article__body p {
  margin: 10px 0 10px;
  font-size: .875em;
  line-height: 1.45em;
}
.article__footer {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.article__link {
  text-decoration: none;
  color: #34AC98;
}
.wrapper {
  margin-top: 20px;
}
.header {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.header__logo {
  width: 120px;
  margin: 0 auto;
  border-radius: 50%;
}
.header__navigation {
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__navigation li {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0 5px;
}
.header__navigation .icon {
  display: none;
}
.header__navigation a {
  color: #34AC98;
  text-decoration: none;
}
.header__navigation a:hover {
  color: #EC6635;
}
.header__logo_img {
  background: url(../icon/food-sense.png) no-repeat 0 0;
  width: 120px;
  height: 120px;
  margin: 20px auto;
}
.header__ad {
  display: none;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 5px 10px 5px 0;
  width: 180px;
}
.ad__title {
  text-transform: uppercase;
  border-bottom: 1px dashed #E5E5E5;
}
.ad__btn {
  width: 160px;
  height: 40px;
  color: #34AC98;
  margin-top: 5px;
  border-radius: 5px;
}
.ad__icon {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
}
.ad__icon_tweet {
  background: url('../icon/icon-twitter-16.png') no-repeat 0 0;
}
.ad__icon_facebook {
  background: url('../icon/icon-facebook-16.png') no-repeat 0 0;
}
@media only all and (min-width: 480px) {
  .header {
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .body__layout {
    width: 481px;
  }
  .content {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
  }
  .article {
    display: inline-flex;
    width: 220px;
    margin-right: 10px;
  }
  .wrapper {
    margin-top: 0;
  }
  .footer {
    padding: 7px 20px 0;
  }
}
@media only all and (min-width: 768px) {
  .body__layout {
    width: 768px;
  }
  .header {
    padding: 0 20px;
  }
  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
  .header a {
    margin-left: 0;
    margin-right: auto;
  }
  .header__navigation .icon {
    display: flex;
    margin: 0 auto 5px auto;
  }
  .header__navigation li {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: flex-end;
  }
  .article {
    width: 178px;
  }
  .content {
    align-items: flex-start;
  }
  .subscribe {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 60px;
  }
  .jumbotron__header {
    margin-top: -140px;
    width: 200px;
  }
  .jumbotron__description {
    width: 470px;
  }
  .jumbotron__autors {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 7px;
    margin-top: 20px;
    background-color: #ffffff;
    opacity: 0.5;
  }
  .jumbotron__nav {
    display: flex;
  }
}
@media only all and (min-width: 992px) {
  .body__layout {
    width: 992px;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
  }
  .main {
    width: 768px;
  }
  .header {
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .header__navigation {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: auto;
    border-bottom-width: 0px;
    align-items: flex-start;
    height: 200px;
    margin-top: 0;
  }
  .header__navigation li {
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
  }
  .header__navigation li a {
    margin-left: 10px;
  }
  .header__logo_img {
    margin-top: 0;
  }
  .header__ad {
    display: flex;
  }
}
@media only all and (min-width: 1176px) {
  .jumbotron__nav {
    height: 80px;
  }
  .jumbotron__nav li {
    display: flex;
    height: 80px;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
  }
  .jumbotron__nav li a {
    display: flex;
    padding-left: 5px;
  }
}
.icon {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
}
.icon__twitter {
  background: url('../icon/icon-twitter.png') no-repeat -16px 0;
}
.icon__rss {
  background: url('../icon/icon-rss.png') no-repeat -16px 0;
}
.icon__facebook {
  background: url('../icon/icon-facebook.png') no-repeat -16px 0;
}
.icon__about {
  background: url('../icon/nav-about.png') no-repeat 0 0;
}
.icon__blog {
  background: url('../icon/nav-blog.png') no-repeat 0 0;
}
.icon__alist {
  background: url('../icon/nav-alist.png') no-repeat 0 0;
}
.icon__contribute {
  background: url('../icon/nav-contribute.png') no-repeat 0 0;
}
.icon__tastemakers {
  background: url('../icon/nav-tastemakers.png') no-repeat 0 0;
}
.icon__disabled {
  display: none;
}
.icon__enabled {
  display: flex;
}
.footer {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 60px;
  border-top: 1px solid #E5E5E5;
}
.footer__section {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  justify-content: space-around;
}
.footer__links {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.footer__nav {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.footer__nav li:not(:first-child):before {
  content: "|";
  padding: 0 5px;
}
.footer__nav a {
  color: #34AC98;
  text-decoration: none;
}